github "scinfu/SwiftSoup"
github "malcommac/SwiftDate" ~> 5.1
github "mxcl/PromiseKit" ~> 6.8
github "PromiseKit/Foundation" ~> 3.0
github "PromiseKit/UIKit" ~> 3.0
github "thii/SwiftHEXColors"
github "realm/realm-cocoa"
github "kean/Nuke"
github "ninjaprox/NVActivityIndicatorView"
git "https://github.com/Chao-Man/Yalta.git" "master"
git "https://github.com/Chao-Man/IceCream.git" "master"
git "https://github.com/Chao-Man/SwiftIcons" "master"
