github "scinfu/SwiftSoup"
github "SnapKit/SnapKit"
github "ranesr/SwiftIcons"
github "onevcat/Kingfisher"
github "malcommac/SwiftDate"
github "mxcl/PromiseKit" ~> 6.0
github "ninjaprox/NVActivityIndicatorView"
github "JonasGessner/JGProgressHUD"

